@model List<MVCprojekt.Models.CartProductViewModel>

@{
    ViewBag.Title = "Koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count == 0)
{
    @Html.ActionLink("Dodaj produkt", "PlusOne", new {id = 1004})
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @Html.ActionLink("+", "PlusOne", new {id = item.ProductID}) |
                @Html.ActionLink("-", "MinusOne", new {id = item.ProductID}) |
                @Html.ActionLink("Remove", "Remove", new {id = item.ProductID})
            </td>
        </tr>
    }
}
